@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


.Top-Banner-Container-Desktop {position: relative; overflow: hidden; width: 100%; height: 300px}
.Top-Banner-Container-Mobile { display: none }
.Top-Banner-Image {width: 100%; height: 300px; object-fit: cover; object-position: 50% 0; position: fixed; z-index: -1}

.Content-Container {justify-content: space-between; display: flex; background-color:#FFF; box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset}
.About-Us-Container {height:auto; padding-bottom:100px; background-color:#FFF; box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset}
.About-Us-Container-Desktop {position: relative; overflow: hidden; width: 100%; height: 450px}
.About-Us-Container-Mobile { display: none }
.About-Us-Image {width: 100%; height: 450px; object-fit: cover; object-position: 0% 50%; position: fixed; z-index: -1}
.About-Us-Info {color:#000; font-size:18px; font-weight:600; font-family:"Open Sans", sans-serif; line-height:24px; padding:20px 25px;}
.About-Us-Info h2 {font-size:28px; padding-top:25px;}
.sidebar {
    width: 20%;
    background-color: #e4e4e4;
    /* height:inherit; width:250px; position:absolute; z-index: 1; margin:0; padding:0; background-color:#f1f1f1; overflow:hidden; padding-top:20px; */
}
.sidebar a, .dropdown-Categories {padding:8px 8px 8px 16px; text-decoration:none; font-size:20px; color:black; display:block; background:none; width:100%; text-align:left; cursor:pointer; outline:none; border:0px;}
.sidebar a:hover, .dropdown-Categories:hover {background-color:#b9b9b9; color:black}
.active, .active:hover {background-color:#F70D1A; color:white}
.dropdown-container {display:none; background-color:#cecece; padding-left:8px}
.dropdown-container a {border-bottom:1px solid #f1f1f1}
.fa-caret-down {float:right; padding-right:8px; padding-top:6px}

.Ads-Container {width:90%; margin-left:5%; text-align:center; display:inline-block; margin-top:30px}
.Ad-Box{font-size:24px!important; width:100%; height:200px; line-height:200px; background-color: #FFF; text-align:center; vertical-align:middle; margin-top:30px}

.Mobile-Nav-Container { display: none }

div.Main-Content {
    width: 100%;
    /* margin-left:250px; padding:1px 16px; height:800px; display:contents */
}

.w3-button-last{color:#000!important;background-color:#CCC!important;text-decoration:none; box-shadow:0 2px 5px -5px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
.w3-light-grey:hover,.w3-button-2:hover,.w3-button-2:active,.w3-button-last:hover,.w3-button-last:active{color:#FFF!important;background-color:#F70D1A!important;text-decoration:none}

.Footer {background-color:#252b60; color:white; padding-top:50px; width:100%; text-align: center; margin:0px}
.Footer-Logos-Large{ display:block; width:800px; height:auto; margin:auto; padding-bottom:45px; border:none;}
.Footer-Logos-Medium{ display:none }
.Footer-Logos-Small{ display:none }
.Footer p {display:block; background-color:#191c22; color:white; padding:10px; text-align: center; margin:auto; font-size:18px}
.Footer-Logos-2 {width:260px; height:auto; padding-top:10px; padding-bottom:15px}

/* Colors */
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#F70D1A!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-light-grey,.w3-button-2{color:#000!important;background-color:#CCC!important;text-decoration:none; border-bottom:1px solid #000 !important;}

@media (max-width:1200px){
    .Top-Banner-Container-Desktop { height:270px }
    .Top-Banner-Image { height:270px }
    .About-Us-Container-Desktop { height:420px }
    .About-Us-Image { height:420px }
}
@media (max-width:830px){ 
    .Top-Banner-Container-Desktop { height:250px }
    .Top-Banner-Image { height:250px }
    .About-Us-Container-Desktop { height:400px }
    .About-Us-Image { height:400px }
}
@media (max-width:750px){
    .Top-Banner-Container-Desktop { display: none }
    .Top-Banner-Container-Mobile { display: block; position:relative; height:280px; overflow:hidden; width:100% }
    .Top-Banner-Image {width: 100%; height: 280px; object-fit: cover; object-position: 0% 50%; position: fixed; z-index: -1}
    .About-Us-Container-Desktop { display: none }
    .About-Us-Container-Mobile { display: block; position:relative; height:280px; overflow:hidden; width:100% }
    .About-Us-Image {width: 100%; height: 280px; object-fit: cover; object-position: 0% 50%; position: fixed; z-index: -1}
    .sidebar { display: none }
    div.Main-Content {margin-left:0; display:block}
    .Mobile-Nav-Container { display:inline-flex; margin:15px 5px; width:100%; border-radius:5px; padding:15px 10px; background-color: #F4F6F9; }
    .dropdown-Mobile {position:relative; display:inline-block; width:220px; font-size:18px}
    .dropdown-Mobile a:hover { background-color: #ddd }
    .filter-Mobile {position:relative; display:inline-block; width:100px; font-size:18px}
    .filter-Mobile a:hover { background-color: #ddd }
    .dropbtn1, .dropbtn2 {background-color:#cecece; color:black; padding:10px 16px; font-size:16px; border:none; border-radius:5px; cursor:pointer }
    .dropbtn1:hover, .dropbtn1:focus, .dropbtn2:hover, .dropbtn2:focus { background-color: #b9b9b9 }
    .dropdown-content1, .dropdown-content2 {display:none; position:absolute; background-color:#f1f1f1; min-width:200px; overflow:auto; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1}
    .dropdown-content2 {display:none; position:absolute; background-color:#f1f1f1; min-width:150px; overflow:auto; box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1}
    .dropdown-content1 a, .dropdown-content2 a {color:black; padding:12px 16px; text-decoration:none; display:block}
    .show { display: block }
}
@media (max-width:650px){
    .Top-Banner-Container-Mobile { height:220px }
    .Top-Banner-Image { height:220px; object-position: 0% 50%; }
    .About-Us-Container-Mobile { height:250px }
    .About-Us-Image { height:250px; object-position: 0% 50%; }
    .About-Us-Container-Mobile { height:220px }
    .About-Us-Image { height:220px; object-position: 0% 50%; }
}
@media (max-width:500px){
    .Top-Banner-Container-Mobile { height:150px }
    .Top-Banner-Image { height:150px; width:100%; object-position: 0% 30%; }
    .About-Us-Container-Mobile { height:200px }
    .About-Us-Image { height:200px; width:100%; object-position: 0% 30%; }
}