@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.Footer {background-color:#191c22; color:white; width:100%; text-align: center; margin:0px; padding: 0px;}
.Top-Footer {background-color:#252b60; padding-top:50px; width:100%; text-align: center; margin:0px}
.Footer-Logos-Large{ display:block; width:800px; height:auto; margin:auto; padding-bottom:45px; border:none;}
.Footer-Logos-Medium{ display:none }
.Footer-Logos-Small{ display:none }
.Footer p {display:block; background-color:#191c22; color:white; padding:10px; text-align: center; margin:auto; font-size:18px}
.Footer-Logos-2 {width:260px; height:auto; padding-top:10px; padding-bottom:15px}

@media (max-width:830px){ 
    .Footer-Logos-Large{ display:none }
    .Footer-Logos-Medium{ display:block; width:350px; height:auto; margin:auto; padding-bottom:45px}
    .Footer-Logos-Small{ display:none }
}

@media (max-width:500px){
    .Footer-Logos-Large{ display:none }
    .Footer-Logos-Medium{ display:none }
    .Footer-Logos-Small{ display:block; width:200px; height:auto; margin:auto; padding-bottom:55px}
    .Footer p {font-size:16px}
}